.buttonc {
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}

#button1 {
    background-color: #56ba59; /* Green */
}

#button2 {
    background-color: #57aecb; /* Green */
}

#button3 {
    background-color: #df5c45; /* Green */
}