<h2>Student List</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.emailId}}</td>
            <td>
                <button (click) = "studentDetails(student.id)" id="button1" class = "buttonc" style="color: white;">View</button>
                <button (click) = "updateStudent(student.id)" id="button2" class = "buttonc" style="margin-left: 10px; color: white;">Update</button>
                <button (click) = "deleteStudent(student.id)" id="button3" class = "buttonc" style="margin-left: 10px; color: white;">Delete</button>

            </td>

        </tr>
    </tbody>

</table>